body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.intro {
    background-color: #1f2937 ;
    color: #f9faf8;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-top {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.intro-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.intro-top,
.intro-bottom {
    width: 1020px;
}

ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#header-logo {
    width: 25%;
    height: auto;
    border-radius: 5px;
}

#concrete {
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.header {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 7px;
    letter-spacing: .03em;
}

.head-container {
    padding-right: 30px;
}

.text {
    margin-bottom: 18px;
}

a, 
.text,
#join,
.footer {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 80;
}

button {
    padding: 8px 37px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 540;
    font-size: 18px;
    border: none;
    border-radius: 8px;
}

.squares-container {
    text-align: center;
    height: 500px;
}

#sq-title {
    font-size: 36px;
    font-weight: bold;
    padding: 1.15em 0 1.2em 0;
}

.squares {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.square {
    height: 160px;
    width: 160px;
    margin-bottom: 7px;
    border: 4px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 15px;
}

.img-text {
    width: 160px;
    font-size: 18px;
    font-weight: 80;
    color: rgb(76, 76, 76);
}

.wisdom {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 426px;
    
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 70;
    padding-bottom: 20px;
}

.author {
    font-weight: 700;
    font-size: 23px;
    text-align: right;
}

.quote,
.author {
    width: 600px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #1f2937 ;
}

.sign {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    background-color: #3882f6;
    color: white;
    height: 150px;
    width: 800px;
    border-radius: 7px;
    justify-content: space-between;
    align-items: center;
    padding: 0 108px;
}

#button-border {
    border: white solid 2px;
    padding: 6px 32px;
}

#time {
    font-size: 23px;
    font-weight: 550;
    letter-spacing: 0.3px;
    margin-bottom: 4px;
}